<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">@@title</h1>
        <h4 class="ce-popup__line">Ziel: Werksübergreifende Erhöhung der Effizienz aller Fertigungsressourcen</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="@@lowq"
                data-src="@@img" alt="@@alt" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Umfassende Echzeit-Verfügbarkeit von Anlagemparametern und Messeweten
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Bestandsanlagen mit sehr alten oder gar keinen Datenschnittstellen und BS
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Reduzierung von Wartungs- & Rüstzeiten
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Einführung vorausschauende Wartungskonzepte
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze 1</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzwerkinfrastruktur
                anbinden
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Dateininterface und Datenvorverarbeitung am Endknoten der Netzinfrastruktur mit Edge Computing und
                Multi-Layer Security Konzept
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Verfügbarkeit aller wichtigen Prozessparameter an der Maschine un mobil durch perfomante
                Collaboration Lösung mit Sprache, Video und Daten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Vorhande und neue Anlagendaten mit vorhandenen Datenquellen analytisch verknüpfen und Probleme
                frühzeitig erkennen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze 2</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzwerkinfrastruktur
                anbinden
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Dateininterface und Datenvorverarbeitung am Endknoten der Netzinfrastruktur mit Edge Computing und
                Multi-Layer Security Konzept
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Verfügbarkeit aller wichtigen Prozessparameter an der Maschine un mobil durch perfomante
                Collaboration Lösung mit Sprache, Video und Daten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Vorhande und neue Anlagendaten mit vorhandenen Datenquellen analytisch verknüpfen und Probleme
                frühzeitig erkennen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Lösungsansatz</h2>
            <p>Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzinfrastruktur anbinden
            </p>
            <h2>Vorteile</h2>
            <ul>
              <li>Wichtige Anlagenparameter KPI zur Steuerung der Fertigungsressourcen stehen in Echtzeit zur
                Verfügung</li>
            </ul>
            <h2>Praxisbeispiele</h2>
            <a href="#!" target="_self">
              www.lorem.de
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <h2>Lösungsansatz</h2>
            <p>Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzinfrastruktur anbinden
            </p>
            <h2>Vorteile</h2>
            <ul>
              <li>Wichtige Anlagenparameter KPI zur Steuerung der Fertigungsressourcen stehen in Echtzeit zur
                Verfügung</li>
            </ul>
            <h2>Praxisbeispiele</h2>
            <a href="#!" target="_self">
              www.lorem.de
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <h2>Lösungsansatz</h2>
            <p>Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzinfrastruktur anbinden
            </p>
            <h2>Vorteile</h2>
            <ul>
              <li>Wichtige Anlagenparameter KPI zur Steuerung der Fertigungsressourcen stehen in Echtzeit zur
                Verfügung</li>
            </ul>
            <h2>Praxisbeispiele</h2>
            <a href="#!" target="_self">
              www.lorem.de
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <h2>Lösungsansatz</h2>
            <p>Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzinfrastruktur anbinden
            </p>
            <h2>Vorteile</h2>
            <ul>
              <li>Wichtige Anlagenparameter KPI zur Steuerung der Fertigungsressourcen stehen in Echtzeit zur
                Verfügung</li>
            </ul>
            <h2>Praxisbeispiele</h2>
            <a href="#!" target="_self">
              www.lorem.de
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Lösungsansatz 2</h2>
            <p>Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzinfrastruktur anbinden
            </p>
            <h2>Vorteile</h2>
            <ul>
              <li>Wichtige Anlagenparameter KPI zur Steuerung der Fertigungsressourcen stehen in Echtzeit zur
                Verfügung</li>
            </ul>
            <h2>Praxisbeispiele</h2>
            <a href="#!" target="_self">
              www.lorem.de
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </div>
          <!-- end: item list -->
        </div>


      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
