<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">@@title</h1>
        <h4 class="ce-popup__line">Ziel: Verfügbarkeit von Personal (Quantität und Qualität)</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="@@lowq"
                data-src="@@img" alt="@@alt" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Rechtssicherheit bei den Personal-administrativen Prozessen
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Pro-aktives Anstoßen, nicht "verschlafen" notwendiger Personalaktivitäten
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Transparenz über Personal und deren Qualifikation, Personalplanung
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-4" target="_self">
              Mitarbeitererreichbarkeit in der Buchhaltung / Lohnabrechnung am dezentralen Standort
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Über die IT abgebildete, rechtlich abgesicherte Personalprozesse, die kein Abweichen zulassen und korrekten Genehmigungslauf einfordern
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Identifikation von Situation, Triggern, die HR-Aktivitäten / -Prozesse auslösen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                One-source HR-Datenbanken
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Gezieltes Entwickeln von Personen / Learning Management Systemen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-4" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                Direkter Kontakt per Videokabine
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Reduktion von administrativen Tätigkeiten</li>
              <li>schneller Zugriff auf Informationen und Dokumente</li>
              <li>schnelle und automatische Abstimmung mit verschiedenen Stakeholdern</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list 1 -->

          <!-- begin: item list 2 -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>automatisierte, digitale Prozesse verschlanken manuelle, wiederkehrende Tätigkeiten </li>
              <li>Entlastung im Kerngeschäft der Personalabteilung</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list 2 -->

          <!-- begin: item list 3 -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Datenbanken mit den wesentlichen, global harmonisierten Personaldaten</li>
              <li>Abgleich von Personalbedarf und strategischer Personal- und Nachfolgeplanung</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list 3 -->

          <!-- begin: item list 4 -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Transparenz über Skillset und Erfahrungen von Mitarbeitern sowie Personalentwicklungsplanung über den Karrierepfad</li>
              <li> Mapping und Organisation von Personalentwicklungsmaßnahmen</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list 4 -->

          <!-- begin: item list 5 -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>ohne zeitlichen Mehraufwand direkt mit der Lohnabrechnungsstelle kommunizieren</li>
              <li>durch Videokabine am dezentralen Standort wird dem Mitarbeiter die Möglichkeit gegeben, direkt und ohne zeitlichen Mehraufwand mit der Lohnabrechnungsstelle zu kommunizieren</li>
              <li>Privatsphärengeschützt, deutsche Private Cloud, kein zeitlicher Mehraufwand notwendig, schnelle Ereichbarkeit, Dokumentenkamera</li>
            </ul>
            <p>Zuarbeit XevIT</p>
          </div>
          <!-- end: item list 5 -->
        </div>
      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
