//
// Very general styles for content elements
//

body {
  & > svg {
    display: none;
  }
}
// very basic content element styles
.ce {

  //margin-top: $ce-margin;
  //margin-bottom: $ce-margin;

}

// active lazy loading effect
.lazy-video-start,
.lazy-video-loop,
.lazy-image,
.lazy {
  filter: blur(10px);
  will-change: filter;
  transform-style: preserve-3d;
  transition: filter $global-transition-style;
  &.loaded {
    filter: blur(0);
  }
}

.aos-init {
  transform-style: preserve-3d;
  will-change: transform;
}

.aos-in {
  display: none !important;
}
