//
// Styles for the general page footer section
//

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}

$info-size: 8rem;

.page-footer__link {
  display: flex;
  align-items: center;
  height: $info-size;
  width: auto;
  padding: 0 1rem;
  color: $white;
  outline: none;
  &:focus {
    color: $white;
  }
  &:hover {
    color: $color-orange;
  }

  .icon {
    transition: $transition;
    width: 2.5rem;
    height: 2.5rem;

    @include breakpoint(xlarge) {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}

.page-footer__text {
  margin-left: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
  transition: $transition;
  &.hidden {
    display: inline-block;
    .change & {
      display: none;
    }
  }
  &.visible {
    display: none;
    .change & {
      display: inline-block;
    }
  }
}
