//
// Styles for the general page footer section
//
.page-header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $page-header-height;
  max-width: 100%;
  background-color: $white;
  z-index: 100;
}

// center logo in header
.page-header__logo {
  max-width: 120px;

  @include breakpoint(xlarge) {
    max-width: 150px;
  }
}

.page-header__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  color: $color-orange;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    text-decoration: underline;
  }
  .icon {
    color: $color-orange;
    margin: -3px .5rem 0 .5rem;
  }

  &.active {
    pointer-events: none;
    cursor: default;
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}

.page-header__menu {
  display: flex;
  height: 100%;
  margin: 0;
  list-style: none;

  li {
    &:last-child a {
      margin-left: 2rem;
      border-left: 1px solid #e1e1e1;
    }
  }
}
