//
// stlye message for not support devices
//

.ce-no-support {
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90vh;
  width: 100%;
  background: $black;
  z-index: 999;
}

.ce-no-support__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: $white;
  z-index: 10;
  .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
  }
}

.hide-for-small-only.show-for-landscape {

  @include breakpoint(small only) {
    display: none !important;
  }
}

.show-for-portrait.show-for-small-only {

  @include breakpoint(small only) {
    display: block !important;
  }
}
