$hero-globla-index: 10;

.ce-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.ce-hero__text {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  z-index: $hero-globla-index + 1;

  @include breakpoint(medium) {
    margin-top: 15vh;
  }

  @include breakpoint(xxlarge) {
    margin-top: 20vh;
  }
}

.ce-hero__headline {
  font-size: 3rem;
  font-weight: $global-weight-semi-light;
  line-height: 1.2;
}

.ce-hero__subline {
  margin: .5rem 0 .5rem 0;
  line-height: 1.2;
  color: $white;
}

.ce-hero__cards {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  width: 85vw;
  margin: 0 auto;
  z-index: $hero-globla-index + 1;

  @include breakpoint(xlarge) {
    bottom: 10vh;
    width: 55vw;

    @media (orientation: landscape) {
      bottom: 5vh;
      width: 75vw;
    }
  }

  @include breakpoint(xxlarge) {
    bottom: 10vh;
    width: 55vw;
  }
}

.ce-hero__play {
  width: 200px;
  margin: 0 auto;
  outline: none;
  font-size: 1.25rem;
  color: $white;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $color-orange;
  }
}

.ce-hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  z-index: -$hero-globla-index;
  object-fit: cover;
  transform: translate(-50%, -50%);

  & + .ce-hero__video {
    z-index: -$hero-globla-index - 2;
  }

  .active-ie & {
    width: 100%;
    height: auto;
  }
}

.ce-hero__map {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: $hero-globla-index;
  transform: translate(-50%, -50%);
}
