$dot-width: 30px;
$dot-height: 30px;
$dot-radius: 15px;

.ce-dot {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: $dot-width;
  height: $dot-height;
  margin-top: -$dot-width/2;
  margin-left: -$dot-height/2;
  border-radius: $dot-radius;
  background-color: $white;
  border: $dot-radius/5 solid $black;
  cursor: pointer;

  // orange point
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: $dot-width/4;
    height: $dot-height/4;
    border-radius: $dot-radius;
    background-color: $color-orange;
    transform: translate(-50%, -50%);
  }

  // over click
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: $dot-width*2;
    height: $dot-height*2;
    border-radius: $dot-radius;
    background-color: transparent;
    transform: translate(-50%, -50%);
  }

}
