.ce-popup {
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  will-change: opacity;
  z-index: 999;
  &:target {
    display: flex;
  }
}

$popup-content-padding: 2rem 3rem;
$popup-m-content-padding: 1rem 1.5rem;
$popup-tablet-columns: 90%;
$popup-desktop-columns: 70%;
$popup-column-zindex: 10;

.ce-popup__content {
  display: flex;
  padding: 0;
  width: 130%;

  @include breakpoint(xlarge) {
    width: 100%;

    @media (orientation: landscape) {
      width: 120%;
    }
  }

  @include breakpoint(xxlarge) {
    width: 100%;
  }
}

.ce-popup__main,
.ce-popup__middle,
.ce-popup__end {
  position: relative;
  width: 33.333%;
  z-index: $popup-column-zindex;

  @include breakpoint(xxlarge) {
    width: 33.333%;
  }
}

.ce-popup__main {
  z-index: $popup-column-zindex;
}

.ce-popup__middle {
  overflow: visible;
  z-index: $popup-column-zindex - 1;
}

.ce-popup__end {
  overflow: hidden;
  z-index: $popup-column-zindex - 2;
  .ce-popup__body {
    height: 100%;
  }
}

.ce-popup__item-middle,
.ce-popup__item-end {
  display: none;
  &.active {
    display: block;
  }
}

.ce-popup__item-end {
  a {
    display: block;
    margin: 0 0 1rem 0;
  }
}

.ce-popup__body {
  position: relative;
  width: 100%;
  padding: $popup-m-content-padding;
  overflow: hidden;

  @include breakpoint(xlarge) {
    padding: $popup-content-padding;
  }
}

.ce-popup__header {
  position: relative;
  padding: $popup-m-content-padding;

  & + .ce-popup__body {
    padding-top: 1rem;

    @include breakpoint(xlarge) {
      padding-top: 2rem;
    }
  }

  @include breakpoint(xlarge) {
    padding: $popup-content-padding;
  }
}

.ce-popup__title,
.ce-popup__line {
  position: relative;
  z-index: 10;
}

.ce-popup__title {
  margin: 0 0 .125rem 0;
  line-height: 1.2;
  font-size: 4.5vh;
}

.ce-popup__line {
  margin: 0;
  line-height: 1.1;
  font-size: 2.5vh;
}

.ce-popup__headline {
  color: $black;
  font-size: 4.5vh;

  .ce-popup__middle & {
    color: $color-orange;
  }
}

.ce-popup__list {
  list-style-type: none;
  margin: 0;

  li {
    position: relative;
    border-top: 1px solid $white;

    &:last-child {
      border-bottom: 1px solid $white;
    }
  }

  a {
    position: relative;
    display: block;
    padding: 1rem 2rem 1rem .5rem;
    line-height: 1.2;
    color: $white;
    z-index: 2;
    outline: none;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: calc(100% + 2px);
      position: absolute;
      left: (calc(100% + 3rem));
      top: -1px;
      background: $color-darkgrau;
      transition: $transition;
      z-index: -1;
    }
    &.active {
      &:before {
        width: calc(100% + 3rem);
        left: 0%;
      }
    }
  }

  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.ce-popup__back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 84px;
  color: $color-darkgrau;
  background: transparent;
  z-index: -1;
  outline: none;

  &:focus {
    color: $color-darkgrau;
  }

  &:hover {
    color: $color-darkgrau;
  }
  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 84px;
  }
}

.ce-popup__close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem 1.25rem;
  margin: 1rem auto 0;
  border-radius: 20px;
  color: $color-orange;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .7);
  transition: $transition;
  &:hover {
    color: $white;
    background: rgba(0, 0, 0, 1);
  }
  .icon {
    color: $white;
  }
}

.ce-scroll {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 4rem);
  width: calc(100% - 5rem);
  padding: 0 1.875rem 0 0;
  margin: 0 1rem 0 4rem;
}
