//
// A tooltip is often used to specify extra information about something when the user
//

$dot-width: 30px;
$dot-height: 30px;
$triangle-width: 5px;
$tooltip-width: 190px;

/* Tooltip container */
.ce-tooltip {

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: -82.75px;
  bottom: $dot-height/2 + $triangle-width;
  width: $tooltip-width;
  text-align: center;
  z-index: 1;
  transform-origin: bottom;

  &:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -$triangle-width;
    border-width: $triangle-width;
    border-style: solid;
    border-color: rgba($color: #000, $alpha: .8) transparent transparent transparent;
    transition: $transition;
  }

  .icon {
    width: .75rem;
    height: .75rem;
    vertical-align: -.15em;
    color: $white;

    @include breakpoint(xlarge) {
      width: 1rem;
      height: 1rem;
      vertical-align: -.18em;
    }
  }

  .ce-tooltip__text {
    display: inline-block;
    padding: .25rem .25rem .25rem .5rem;
    font-size: .875rem;
    background-color: rgba($color: #000, $alpha: .8);
    color: $color-orange;
    line-height: 1.2;
    transition: $transition;

    @include breakpoint(xlarge) {
      padding: .5rem .5rem .5rem .75rem;
      font-size: 1rem;
    }
  }

  .aos-init & {

    &:hover {
      .ce-tooltip__text {
        background-color: $color-orange;
        color: $black;
      }

      &:after {
        border-color: $color-orange transparent transparent transparent;
      }
    }
  }

}
