.ce-card {
  width: 100%;
  padding: 1.25rem 2rem .75rem 1rem;
  border-left: .5rem solid $color-orange;
  color: $white;
  background-color: $color-darkgrau;

}

.ce-card__headline {
  position: relative;
  margin: 0 0 .75rem 0;
  color: $color-orange;
  line-height: 1.2;

  &.icon-triangle:before {
    top: .65rem;
    left: -1rem;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $color-orange;
  }
}

$color-square: #a29ea3;

.ce-card__list {
  list-style: none;

  li {
    position: relative;
    margin: 0 0 .25rem 0;
  }

  .icon-square {
    // square icon
    &:before {
      width: 6px;
      height: 6px;
      left: -1rem;
      top: .5625rem;
      background-color: $color-square;

    }
  }
}
