//
// Very general styles for menus elements
//
.menu {

  margin: 0;
  padding: 0;
  list-style: none;

  // main menu in header
  &--main {
    display: inline-block;
    margin-left: 1rem;
  }

  // language menu in header
  &--lang {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  // social menu
  &--social {
    display: inline-block;
    margin-right: 1rem;
  }

  // footer menu
  &--footer {
    display: inline-block;
    margin-right: 1rem;
  }

  // item list
  &__item {
    display: inline;
    margin-right: 1rem;

    a {
      text-decoration: none;
    }

    &:hover {
      a {
        text-decoration: underline;
      }
    }

    // main menu in header
    &--main {
      font-size: 1rem;
      text-transform: uppercase;
    }

    // language menu in header
    &--lang {
      display: none;

      &:first-child {
        display: block;
      }
    }

    // social menu
    &--social {
      text-transform: uppercase;
    }

    // footer menu
    &--footer {
      text-transform: uppercase;
    }
  }
}
