<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Intralogistik</h1>
        <h4 class="ce-popup__line">Ziel: Reduktion der Transportmittel, -wege und -zeiten sowie Lokalisierung von Objekten</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/intralogistic.jpg"
                data-src="../assets/images/popup/produktion/intralogistic.jpg" alt="Intralogistik" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Optimaler Einsatz der vorhandenen Transportmittel, minimaler Personaleinsatz
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              In der Logistik können Situationen entstehen, die keine Informationen zum aktuellen Status und Fortschritt der Aufträge geben.
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Abstimmung der einzelnen Logistikprozesse über die gesamte Wertschöpfungskette
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-4" target="_self">
              Analyse sämtlicher Transportwege in Echtzeit
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Ortung von Fahrzeugen über WLAN-Tags mit vorhandener Infrastruktur
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Ortung von Geräten und Objekten mit Funk-Technologie (Beacons)
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Steuerung und Kontrolle von automatisierten Fahrzeugen oder ähnlichen Objekten über private 5G
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Zentrale Erfassung und Visualisierung ermöglicht Gesamtüberblick über das Logistikzentrum und vereinfacht Entscheidungen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                Durch eine Echtzeitlokalisierung entlang der Wertschöpfungskette schaffen wir Transparenz in der Intralogistik.
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-6" target="_self">
                Materialflussprozesse und Buchungen automatisieren und Prozessverletzungen unmittelbar erkennen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-7" target="_self">
                Steuerung von Fertigungsaufträgen aufgrund von Positionsdaten wichtiger Zulieferbauteile im Lieferverkehr
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-8" target="_self">
                Schnittstellenlose Automatisierung der gesamten Wertschöpfungskette, bspw. für Einsatz von Logistikrobotern
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-4" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-9" target="_self">
                Heatmapping von Fahrzeugpositionen und Fahrtwegen aufgrund von WLAN-Positionsdaten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-10" target="_self">
                Fehlende Transparenz über die genaue Position von Staplern / Versandeinheiten in einem Lager
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-11" target="_self">
                Zentrale Datenhaltung aller Container (Behälter bzw. Gestelle) auf Einzelstückebene mit Datenaustausch zum ERP-System
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-12" target="_self">
                Verringerung von Durchlaufzeiten und Störungen des Versorgungsprozesses durch bspw. fehlende Gestellen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: Block 1  -->
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>keine Leerlaufzeiten von Transportmitteln</li>
              <li>unterbrechungsfreie Materialflussübergabe</li>
              <li>Transparenz über den Einsatz der Ladungsträger vom eigenen Plastik-KLT bis zum beigestellten Transportgestell</li>
            </ul>
            <p>Xevit</p>
          </div>
          <!-- end: item list 1 -->
          <!-- begin: item list 2 -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Verringerung der Größe und Komplexität des Logistikzentrums</li>
              <li>erhöhte Transparenz von Prozessen</li>
              <li>Lokalisierung von Warengruppen</li>
              <li>Transparenz über eingesetzte Hilfsmittel zum Einsatz?</li>
            </ul>
            <p>Xevit</p>
          </div>
          <!-- end: item list 2 -->
          <!-- begin: item list 3 -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>geringe Latenzzeiten und hoher Datenfluss</li>
              <li>Technische Grundlage für das „Internet der Dinge“ (IoT)</li>
              <li>Enhanced Mobile Broadband für Augmented Reality oder Virtual-Reality-Applikationen zur Steuerung von Fahrzeugen</li>
            </ul>
          </div>
          <!-- end: item list 3 -->
          <!-- begin: item list 4 -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Optimierungspotenziale können schnell erfasst und der Betrieb sichergestellt werden</li>
              <li>durch die Überwachung betrieblicher Abläufe in Echtzeit können Daten noch besser analysiert und Prozesse angepasst werden </li>
              <li>einfache Anpassung oder Konzeptionierung von Lagerflächen bei Bedarf</li>
            </ul>
          </div>
          <!-- end: item list 4 -->
          <!-- end: Block 1  -->

          <!-- begin: Block 2  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>automatisierter Materialfluss</li>
              <li>optimierte Intralogistik</li>
              <li>maximale Durchlaufgeschwindigkeiten</li>
              <li>reduzierte Suchzeiten</li>
              <li>transparente Prozessanalyse</li>
              <li>durchgehende Traceability</li>
              <li>Senkung der Unproduktivitätszeiten von Mitarbeitern</li>
              <li>Erhöhung der Ausbringungsmenge </li>
            </ul>
            <a href="https://www.innovationalliance.de/asset-tracking/" target="_self">
              Asset Tracking
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit SWS</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-6" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>schnelle Innovationsprozesse und Transparenz für Veränderungen</li>
              <li>intelligente Automation durch adaptive Systeme</li>
              <li>ganzheitliche Betrachtung der Prozesse</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 2  -->

          <!-- begin: Block 3  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-7" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>weniger Fertigungsstillstand aufgrund fehlender Bauteile  </li>
              <li>geringerer Materialbestand im Pufferlager</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-8" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>maximale Prozesssicherheit</li>
              <li>zielgerichteter Einsatz von Robotern</li>
              <li>weniger Lagerbestände</li>
              <li>keine Suchzeiten mehr</li>
              <li>schnellere Fehlererkennung</li>
              <li>Steigerung der Qualität in den Prozessen</li>
              <li>weniger Fehlerquellen</li>
              <li>höhere Geschwindigkeit</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 3 -->

          <!-- begin: Block 4 -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-9" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erkennung von Engpässen und kritischen Knotenpunkten in der Logitikkette</li>
              <li>Routenoptimierung von Fahrzeugen</li>
              <li>kürzere Fahrzeiten</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-10" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>durch die Kombination von AutoID-Technologieen wird der exakte Standort (bis auf 30 cm genau) von Objekten systemseitig erfasst</li>
              <li>Reduzierung der Suchzeiten für Material und große Produkte (z.B. Maschinen oder Fahrzeuge)</li>
            </ul>
            <p>Zuarbeit pco pco RTLS-System (Real Time Location-System) Lösung SWS</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-11" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>ständige Transparenz über Lifecycle- und SCM-Daten sämtlicher Container in Real Time</li>
              <li>hochflexible Allokation der Container zur Schaffung einer durchgängigen Transparenz vom Fertigungsauftrag bis zum Versand</li>
              <li>Reduzierung von Personalaufwand </li>
              <li>optimale Ausnutzung der Ladungsträger, kein Aufbau eines Sicherheitsbestands nötig</li>
              <li>Nachweispflicht gegenüber den Besitzern der Ladungsträger wird ermöglicht (Darstellung, wie viele Behälter angeliefert wurden)</li>
              <li>Kontenpflege erfolgt automatisiert</li>
            </ul>
            <p>pco LocView Behältermanagement Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-12" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Entfall von Gestellsuche und manueller Disposition</li>
              <li>kein zusätzlicher Aufbau von Sicherheitsbeständen an Ladungsträgern erforderlich</li>
              <li>bei Fremdbehältern einfache Nachweispflicht gegenüber den Besitzern der Ladungsträger </li>
              <li>verschwundene Ladungsträger gehören der Vergangenheit an </li>
              <li>Kontopflege (Ein- und Ausbuchen des Ladungsträgers) im System</li>
              <li>Leergutdisposition</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 4 -->
        </div>


      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
