<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Produktion</h1>
        <h4 class="ce-popup__line">Ziel: Werksübergreifende Erhöhung der Effizienz aller Fertigungsressourcen</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/produktion.jpg"
                data-src="../assets/images/popup/produktion/produktion.jpg" alt="Produktion" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Visibilität und Transparenz in der Produktion
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Bedarfsgerechte Materialversorgung
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Transparenz und Sicherheit im Produktionsfluss - keine an Securitystandards angelehnte, strategische Ausrichtung
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-4" target="_self">
              Papierlose Produktion Prozessdigitalisierung
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Verfügbarkeit aller notwendigen Fertigungsdaten in Echzeit
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Ungeplante Maschinenstillstände durch instabile Prozesse  führen zu unnötigen Kosten in der Produktion.
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Korrelation unterschiedlicher Datenquellen und Formate sowie Definition einheitlicher Datenschnittstellen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Transport,  Analyse und Speicherung sehr großer Datenmengen aus der Produktion
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                Nachschubsteuerung mittels RFID- oder Barcode-KanBan-Karten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-6" target="_self">
                Steuerung und Monitoring von Fertigungsschritten - flexible Steuerung von Produktionsaufträgen ohne manuelle Buchungstätigkeiten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-7" target="_self">
                Transparenz über den aktuellen Zustand der Produktion von verschiedenen Orten aus
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-8" target="_self">
                Strategische IT-Security Ausrichtung der IIoT-Netzwerke unabhängig von der eingesetzten Hardware
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-9" target="_self">
                Abgesicherte Kommunikation von Steuerungen, Aktoren und Sensoren statt über Bus-Systeme über das Netzwerk
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-10" target="_self">
                Produktionsfreigabe nach Plausibilisierungsprüfung der benötigten Ressoucen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-4" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-11" target="_self">
                Digitaler Fertigungsauftrag
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-12" target="_self">
                Rückverfolgbarkeit durch Werkstückträgerverfolgung
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: Block 1  -->
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>automatisierte Datenerfassung (Monitoring, Reporting, OEE, Statusanzeige) aller Anlagen </li>
              <li>frühzeitige Störungserkennung und Problemmeldung</li>
              <li>verbesserte Steuerung und Feinplanung durch reale Verfügbarkeiten</li>
              <li>Unterstützung komplexer Produktionsvorgänge, z.B. Mehrmaschinenbedienung, Palettenbahnhöfe, usw.</li>
              <li>Unterstützung weltweiter Standards, z.B. OPC-UA oder Euromap 63</li>
              <li>unterschiedliche Alarmierungsmechanismen</li>
              <li>Anbindung nahezu aller Maschinen oder Anlagen möglich – unabhängig vom Produktionsverfahren, Alter der Anlage sowie Maschinen- oder Steuerungstyp</li>
            </ul>
            <p>Konvergente Netzwerkinfrastruktur vom Sensor bis in die Cloud</p>
            <ul>
              <li>Daten sämtlicher Anlagen und Prozesse stehen zuverlässig und sicher in Echtzeit zur Verfügung</li>
            </ul>
          </div>
          <!-- end: item list 1 -->
          <!-- begin: item list 2 -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Ungeplante Maschinenstillstände, instabile Prozesse oder eine suboptimale Produktionsplanung führen zu unnötigen Kosten in der Produktion. Teilweise liefern Maschinen zu wenige Daten, diese landen in nicht angebundenen Silos oder sie werden schlichtweg nicht genutzt. Auch fehlende Transparenz und mangelnde Übersicht führen zur Verschwendung von Ressourcen. Hier gilt der bekannte Grundsatz: Man kann nur das schützen, was man auch kennt und sieht.</p>
            <ul>
              <li>Inventarliste aller Assets</li>
              <li>Darstellung der Kommunikationsbeziehungen</li>
              <li>Auflistung von vorhandenen Schwachstellen des Netzwerks</li>
              <li>Ableitung empfohlener Maßnahmen</li>
              <li>Security Architecture Assessment, um die exakten Kommunikationswege und -verbindungen im Netzwerk als auch Schwachstellen zu erkennen und aufzuzeigen</li>
            </ul>
            <p>Logicalis Security Assessment Bundle</p>
          </div>
          <!-- end: item list 2 -->
          <!-- begin: item list 3 -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Data Middleware-Konzept mit vielfältigen Dateninterfaces und einem einheitlichen Datenformat</li>
              <li>sämtliche Datenquellen aus der Fertigung stehen multiplem Cloud- und App-Diensten zur Verfügung</li>
            </ul>
            <p>Zuarbeit Logicalis</p>
          </div>
          <!-- end: item list 3 -->
          <!-- begin: item list 4 -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Datenvorverarbeitung mit Edge und Fog Computing auf der vorhandenen Infrastruktur</li>
              <li>sehr große Datenmengen können mit einem Multi-Tier Data Processing Model durch Edge und Fog Computing analytisch verarbeitet werden</li>
            </ul>
          </div>
          <!-- end: item list 4 -->
          <!-- end: Block 1  -->

          <!-- begin: Block 2  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>mitarbeiterunabhängiger Anstoß des Nachschubs, kein zusätzlicher Personalzeitaufwand, Plausibilitätsprüfung, Anlieferung korrektes Material am jeweiligen Bereitstellungsplatz</li>
              <li>Belegung von Produktionsflächen durch benötigte Rohmaterialen entfallen, da die Produktionsbelieferung / Nachschub nicht bedarfsbezogen gesteuert wird</li>
            </ul>
            <a href="https://www.innovationalliance.de/use-cases/" target="_self">
              Automatisierte Materialbereitstellung über E-Kanban
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-6" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Verknüpfung des digitalen Fertigungsauftrages mit dem Produktionsmaterialbehälter</li>
              <li>Plausibilitätsprüfung vor jedem Arbeitsschritt</li>
              <li>automatische Materialflussbuchung</li>
              <li>automatische Produktionsflussbuchung</li>
              <li>Prozesssicherheit</li>
              <li>Mitarbeiterentlastung</li>
            </ul>
            <a href="https://www.innovationalliance.de/use-cases/" target="_self">
              Digitaler Fertigungsauftrag
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-7" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Einrichtung eines Dashboards mit vielfältigen Schnittstellen zu ERP- und MES-Systemen sowie der Unterstützung zahlreicher Maschinenprotokolle:</li>
              <li>Visualisierung von Maschinenzuständen auf einen Blick (auch remote)</li>
              <li>invdiduelle Anpassung an Kundenanforderungen </li>
              <li>umfangreiche Unterstützung von Protokollen und Schnittstellen im Standard</li>
              <li>flexibel erweiterbar</li>
            </ul>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 2  -->

          <!-- begin: Block 3  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-8" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Produktionen werder immer digitaler. Aus diesem Grund muss Sicherheit mehr sein als eine Abteilung oder eine Reihe von lose integrierten Lösungen, um Schritt zu halten. Es muss eine, an einen hohen Securitystandard angelehnte, strategische Ausrichtung sein, die vom Design über die Umsetzung bis hin zum Betrieb alles miteinbezieht.</p>
            <p>Wir bündeln eine besonders hohe IIoT-Expertise – in unseren Reihen finden Sie die höchste Dichte von Industrial Networking zertifizierten Solution Engineers in Deutschland. Zudem haben unsere Experten erweiterte Kenntnisse im Umgang mit den gängigen Herstellern im Produktionsumfeld und schrecken nicht vor einem Brown-Field-Scenario zurück. Diese jahrelange Erfahrung mit industriellen Netzwerken macht die Innoation Alliance zum idealen Partner für Ihre OT.</p>
            <ul>
              <li>Design und Architektur industrieller Netzwerke</li>
              <li>garantierte Hochverfügarkeit des Netzwerks</li>
              <li>Implementierung nach IEC-Richtlinien</li>
              <li>Unterstützung der Inbetriebnahme</li>
              <li>Cyber-Security für industrielle Netzwerke</li>
            </ul>
            <p>Logicalis Connected Factory : Secure By Design Zuarbeit Logicalis</p>
            <p>Xevit Cyber Vision und Cyber Resilience</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-9" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Ein hochverfügbares und sicheres Netzwerk bildet die Basis für eine vernetzte und ausfallsichere Produktion. Viele Unternehmen schließen Maschinen und andere Endgeräte in der Produktion direkt an das Unternehmensnetzwerk an. Dadurch entsteht ein hohes Risiko hinsichtlich Sicherheit und Hochverfügbarkeit. </p>
            <p>Ein umfassendes Sicherheitskonzept für das Produktionsnetzwerk verhindert Angriffe und die Ausbreitung von Schadsoftware in der Produktion. Eine redundante Firewall trennt das Produktionsnetz vom Unternehmensnetz und eliminiert das Fortschreiten von Bedrohungen in der Produktionsumgebung.</p>
            <p>Innerhalb des Produktionsnetzwerkes wird die Sicherheit durch Segmentierung und Netzwerkzugangskontrolle erhöht.</p>
            <p>Fernwartungen von Maschinenherstellern werden kontrolliert und nur bei Bedarf durchgeführt.</p>
            <p>Durch Analyse des Netzwerkverkehrs in der Produktion, lassen sich weitere Bedrohungen und Anomalien erkennen. Ein Schwachstellenmanagement weist auf Produktionsendgeräte mit Sicherheitslücken hin, sodass diese gepatcht werden können.</p>
            <p>Wir liefern Ihnen ein modernes Produktionsnetzwerk: hochverfügbar l leistungsfähig l skalierbar l sicher l transparent</p>
            <ul>
              <li>Reduzierung von Standzeiten ausgelöst durch Ausfälle und Sicherheitsbedrohungen</li>
              <li>Produktionsnetzwerk unabhängig vom Unternehmensnetzwerk</li>
              <li>sichere und strukturierte Fernwartung von Maschinenherstellern</li>
              <li>kein Netzzugang für unautorisierte Endgeräte</li>
              <li>Erkennung von Anomalien verhindert Angriffe und Malwarebefall</li>
              <li>Nachvollziehbarkeit bei Datenklau oder Spionage</li>
              <li>stabile Basis für Industrie 4.0</li>
            </ul>
            <a href="https://www.innovationalliance.de/use-cases/" target="_self">
              Connected Factory
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit SWS</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-10" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Transparenz im Produktionsfluss durch Verknüpfung von Transportmittel (eindeutige ID) und Fertigungsauftrag</li>
              <li>automatisierte Chargenprüfung</li>
              <li>automatisierte Verifikation der Prozesschritte und Verweildauern (z.B. Liegezeiten)</li>
              <li>Optimierung der Qualitätssicherung</li>
              <li>Transparenz in der Rückverfolgbarkeit</li>
            </ul>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 3 -->

          <!-- begin: Block 4 -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-11" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Verfolgung von Produktionsaufträgen über eine Objekt-ID (am Produkt oder Ladungsträger)</li>
              <li>Speicherung vom Produktionsauftrag / Auftragsdaten auf dem begleitenden RFID-Transponder</li>
              <li>automatisierte Systembuchungen</li>
              <li>systemgestützte Erfassung, Abfrage und Archivierung von produktionsbegleitenden Prüfaufträgen</li>
              <li>unmittelbare Verfügbarkeit der Produktionsdaten und des Produktionsfortschritts für alle Fertigungsbereiche</li>
              <li>Vermeidung von Liegezeiten aufgrund fehlender Dateneingabe / Buchungen</li>
              <li>Digitalisierung des Mitarbeiterwissens</li>
              <li>nachhaltige Dokumentation und Auditfähigkeit</li>
            </ul>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-12" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Produktionsfreigabe nach Plausibilisierungsprüfung der benötigten Ressoucen</li>
              <li>Kennzeichnung der Produktionsmittel mit RFID</li>
              <li>automatisierte Nachweisführung: Welches Produkt wurde wann mit welchem Werkzeug gefertigt?</li>
              <li>Rückverfolgbarkeit von Produktionschargen auf Einzelstückebene</li>
              <li>Steigerung der Qualität durch Verifikation der Betriebsmittel</li>
              <li>Produktionsverfolgung durch alle Fertigungsschritte</li>
            </ul>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 4 -->
        </div>
      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
