<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Verbindung zur Verwaltung</h1>
        <h4 class="ce-popup__line">Ziel: Schneller und sicherer Daten- und Prozessaustausch</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/verbindung-verwaltung.jpg"
                data-src="../assets/images/popup/produktion/verbindung-verwaltung.jpg" alt="Verbindung zur Verwaltung" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Sicherer Datenausstausch zwischen Verwaltung und Produktion
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Datensicherheit durch Schutz der Infrastruktur und deren Überwachung
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Sicherer Remotezugriff auf ERP-Systeme
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Firewall mit Protokoll- und Inhaltsprüfung (auch in Industrieprotokollen)
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Analyse und Aufbau einer gesicherten IT-Infrastruktur
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Absicherung der Zugriffe durch entsprechende Mechanismen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Überwachung der "Datenbewegungen" mithilfe eines SIEM
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                Analyse und Reparatur per sicherer Fernwartung
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Gesicherter Datenaustausch zwischen</p>
            <ul>
              <li>Projektierungsdaten</li>
              <li>Software zur Projektierung</li>
              <li>Updates und Patches für Systeme (z.B. Firmware-Updates)</li>
              <li>Log-Informationen</li>
              <li>Monitoring und Sensor-Daten (z.B. Zustandsüberwachung)</li>
            </ul>
            <p>Logicalis / pco / SWS / Pan Dacom</p>
          </div>
          <!-- end: item list 1 -->
          <!-- begin: item list 2 -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>optimale Planung und Einrichtung von Sicherheitsmaßnahmen</li>
            </ul>
          </div>
          <!-- end: item list 2 -->
          <!-- begin: item list 3 -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>keine unbefugten Zugriffe auf Daten und das Netzwerk</li>
            </ul>
          </div>
          <!-- end: item list 3 -->
          <!-- begin: item list 4 -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erkennung von Anomalien und "unüblichen" Vorkommnissen</li>
              <li>Datenlecks erkennen und schließen</li>
              <li>Transparenz, wer wann auf welche Daten zugreift</li>
            </ul>
            <p>Xevit / Logicalis / Pan Dacom</p>
          </div>
          <!-- end: item list 4 -->
          <!-- begin: item list 5 -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Im Falle eines Fehlers oder sogar eines Ausfalls einer Maschine bedarf es schneller Reaktion und Handlung. Der Maschinenhersteller muss zur Analyse und Reparatur per Fernwartung hinzugezogen werden. Eine lange Ausfallzeit muss unter allen Umständen vermieden werden, denn ein Stillstand der Produktion bedeutet unumgänglich einen drastischen monetären Schaden. Es muss schnell und einfach gehen. Leider werden genau aus diesem Grund hohe Sicherheitsstandards vernachlässigt, denn diese werden oftmals als sehr zeitintensiv angesehen.</p>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list 5 -->
        </div>


      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
