<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Videoüberwachung</h1>
        <h4 class="ce-popup__line">Ziel: Sicherheit</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/videoueberwachung.jpg"
                data-src="../assets/images/popup/produktion/videoueberwachung.jpg" alt="Videoüberwachung" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Sicherheit des Betriebsgeländes
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Zugangskontrolle
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Campus Safety
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-4" target="_self">
              Frequenz- / Besucherzählung
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Automatisiertes Erkennen von ungewöhnlichen Situationen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Datenschutzkonforme Gesichtserkennung von Lieferanten / Dienstleistern / Mitarbeitern zur Validierung von Zugangsrechten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Automatisierung der Zufahrtsschranken mit Kennzeichenerkennung
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Automatisierte Kontrolle der maximalen Anzahl von Personen in Gebäuden oder Arealen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                Alarmierung bei panischem Verhalten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-6" target="_self">
                Sicherstellung von Rettungswegen blockiert, Stolpern
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-7" target="_self">
                Erkennung von Loitering und unsachgemäß gelagerter Waren
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-8" target="_self">
                Suche nach vermisster Person / Erkennung längeres Verweilen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-4" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-9" target="_self">
                Automatisierte Kontrolle der maximalen Anzahl von Personen in Gebäuden oder Arealen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-10" target="_self">
                Dienstleister- und Ressourcensteuerung
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-11" target="_self">
                Indoor Navigation
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: Block 1  -->
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Automatische Analyse der Videofeeds und Alarmierung von Events wie</p>
            <ul>
              <li>Intrusion Detection</li>
              <li>Loitering – "Herumlungernde" Person</li>
              <li>Erkennen nicht-autorisierter Personen</li>
              <li>Hausverbot, Blacklisting</li>
              <li>verbotene Gegenstände</li>
              <li>Detektion maskierter Personen</li>
              <li>automatische Videobildaufschaltung</li>
              <li>herrenloses Gepäckstück</li>
              <li>Alltagsbeschädigungen (Vandalismus, Graffiti)</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list 1 -->
          <!-- end: Block 1  -->

          <!-- begin: Block 2  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Beschleunigung und Vereinfachung der Zutrittskontrolle</li>
              <li>erweitere Zutrittskontrolle</li>
              <li>Nachweis der Zutrittszeiten inklusive Authentifizierung</li>
              <li>ein digitales Videosystem ist weniger fehleranfällig und schont die Kosten für das Sicherheitspersonal</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Beschleunigung der Abfertigung</li>
              <li>Verhinderung des "Durchrutschens eines zweiten Fahrzeugs"</li>
              <li>Erkennung und Dokumentation von Beschädigungen / Fahrzeugen / Waren zur Verhinderung von unrechtmäßigen Regressforderungen </li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Einhaltung von Sicherheitsvorschriften</li>
              <li>Übersicht über Anzahl von Personen im Gebäude</li>
              <li>einfache Übernahme von neuen Sicherheitsvorschriften</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 2  -->

          <!-- begin: Block 3  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung der Sicherheit</li>
              <li>schnellere Evakuierung im Notfall</li>
              <li>Einhaltung von Sicherheitsvorschriften</li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-6" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung der Sicherheit</li>
              <li>schnellere Evakuierung im Notfall</li>
              <li>Einhaltung von Sicherheitsvorschriften </li>
            </ul>
            <p>Pan Dacom</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-7" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung der Sicherheit</li>
              <li>schnellere Evakuierung im Notfall</li>
              <li>Einhaltung von Sicherheitsvorschriften</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-8" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung der Sicherheit</li>
              <li>schnellere Evakuierung im Notfall</li>
              <li>Einhaltung von Sicherheitsvorschriften</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 3 -->

          <!-- begin: Block 4 -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-9" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung der Sicherheit</li>
              <li>schnellere Evakuierung im Notfall</li>
              <li>Einhaltung von Sicherheitsvorschriften</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-10" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>schnellere Abfertigung</li>
              <li>bessere Auslastung</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-11" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung des Kundenkomforts</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 4 -->
        </div>


      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
