<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Warenlager</h1>
        <h4 class="ce-popup__line">Ziel: Zeitnahes Bereitstellen der Waren</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/warenlager.jpg"
                data-src="../assets/images/popup/produktion/warenlager.jpg" alt="Warenlager" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Finden der abgerufenen Waren
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Automatisierte Verfolgung von Warenlieferungen / schnelles Kommissionieren der abgerufenen Waren
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Steigender Kosten- und Zeitdruck sowie Verfügbarkeit von qualifizierten Arbeitskräften
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Dynamische Stellplatzverwaltung mit eigenem Logistiksystem
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Automatisierte Verheiratung von Ladungsträger und Lagerort durch Kennzeichnung mit RFID
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Automatisierung von Ware zu Person
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Modernisierung der bestehenden ERP- / LVS-Prozesse durch reduzierte, grafische Oberflächen und bidirektionale Sprachkommunikation
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: Block 1  -->
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Anbindung an ERP-Systeme </li>
              <li>erweiterte Funktionalität von Logistiksystemen gegenüber Verwendung von ERP wie Wegeoptimierung, Materialflusssteuerung, Materialflusssimulation, Komplementäranalyse</li>
            </ul>
          </div>
          <!-- end: item list 1 -->
          <!-- end: Block 1  -->

          <!-- begin: Block 2  -->
          <!-- begin: item list 1-->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>nachvollziehbare Buchungen im ERP- / LVS-System</li>
              <li>plausibilisierte Materialbewegungen</li>
              <li>Zeit- und Kosteneinsparung durch Wegfall von Scan-Prozessen</li>
              <li>Vermeidung von "nicht gefunden"-Beständen</li>
              <li>Reduzierung von Umlaufbeständen oder vermeidbarer Doppelproduktion</li>
            </ul>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list 1-->
          <!-- begin: item list 2-->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>angeforderte Artikel werden schnell, direkt und zuverlässig zum Bediener gebracht </li>
              <li>unproduktive Lauf- und Suchzeiten entfallen</li>
              <li>kurze Wege </li>
              <li>umfassende Informationen auf entsprechenden Dashboards</li>
              <li>hohe Pick- und Put-Genauigkeit </li>
            </ul>
          </div>
          <!-- end: item list 2-->
          <!-- end: Block 2  -->

          <!-- begin: Block 3  -->
          <!-- begin: item list 1-->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>optimierte und effizientere Prozessabläufe</li>
              <li>additive Einführung von neuen Technologien ohne Änderungen an den Bestandssystemen</li>
              <li>leichteres Anlernen neuer Mitarbeiter</li>
            </ul>
          </div>
          <!-- end: item list 1-->
          <!-- end: Block 3 -->

        </div>
      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
