<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Wareneingang</h1>
        <h4 class="ce-popup__line">Ziel: Vereinnahmung der Lieferungen</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/wareneingang.jpg"
                data-src="../assets/images/popup/produktion/wareneingang.jpg" alt="Wareneingang" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Automatisierte Erfassung von Wareneingängen / schnelle Prüfung auf Vollständigkeit
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Schnelle Zuordnung zu Bestellung, korrekter Zeitstempel im ERP, um später Lieferperformance korrekt zu bewerten
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Vollständigkeit der mitgelieferten Dokumente (Zolldokumente)
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-4" target="_self">
              Fehlender Support und Sicherheits-Patches für MDE-Geräte
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Papierdokumente wie Lieferscheine scannen und diese digital weiterbearbeiten, um automatisiert Bestelllisten im ERP abzugleichen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Automatisierte Plausibitätsprüfung durch RFID-getaggte Produkte
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Automatische Erfassung und Verwaltung von Ladungsträgern
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Verfügbarkeit von qualifizierten Arbeitskräften
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                RFID-Anbringung und automatische Verfolgung der Waren
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-6" target="_self">
                Automatisierte elektronische Lieferankündigung mit Dokumentübersendungshinweis
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-4" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-7" target="_self">
                Mobile Device Management und netzwerkbasierte Überprüfung der Sicherheitsregeln
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: Block 1  -->
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>durch die digitale Weiterverarbeitung der Dokumente beim Wareneingang über die Auftragsbearbeitung bis hin zu den Rechnungsprozessen wird der Zeitaufwand für den logistischen Workflow minimiert</li>
              <li>schnellere Abfertigung beim Wareneingang</li>
              <li>Reduktion der Standzeiten bei der Entladung von LKWs</li>
            </ul>
            <p>Zuarbeit pco</p>
            <ul>
          </div>
          <!-- end: item list 1 -->
          <!-- begin: item list 2 -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Ungeplante Maschinenstillstände, instabile Prozesse oder eine suboptimale Produktionsplanung führen zu unnötigen Kosten in der Produktion. Teilweise liefern Maschinen zu wenige Daten, diese landen in nicht angebundenen Silos oder sie werden schlichtweg nicht genutzt. Auch fehlende Transparenz und mangelnde Übersicht führen zur Verschwendung von Ressourcen. Hier gilt der bekannte Grundsatz: Man kann nur das schützen, was man auch kennt und sieht.</p>
            <ul>
              <li>Prüfung AVIS gegen tatsächliche Lieferung</li>
              <li>Optimierung der Material- / Leergutannahme</li>
            </ul>
          </div>
          <!-- end: item list 2 -->
          <!-- begin: item list 3 -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>zentrales Behältermanagement zur Erfassung von anonymen Ladungsträgern</li>
              <li>optimierte Erfassung der Behälter durch automatisierte Identifikation und Buchung</li>
              <li>Korrekturerfassung vor Ort</li>
              <li>individuelle Bestandstransparenz über alle Tauschpartner</li>
              <li>minimaler Aufwand für Kontenabgleich und Reklamationsmanagement</li>
            </ul>
          </div>
          <!-- end: item list 3 -->
          <!-- begin: item list 4 -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Modernisierung der bestehenden ERP-/LVS-Prozesse durch reduzierte, grafische Oberflächen und bidirektionale Sprachkommunikation</li>
              <li>individuelle Bestandstransparenz über alle Tauschpartner</li>
              <li>minimaler Aufwand für Kontenabgleich und Reklamationsmanagement</li>
            </ul>
          </div>
          <!-- end: item list 4 -->
          <!-- end: Block 1  -->

          <!-- begin: Block 2  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>AutoID-gestützte Erfassung</li>
              <li>Steigerung der Transparenz über den Produktionsprozess durch engmaschige Lokalisierung</li>
              <li>automatisierte Buchungen sorgen für eine Entlastung der Mitarbeiter von unproduktiven Tätigkeiten</li>
              <li>fehlerfreie Erfassung von Informationen</li>
              <li>Transparenz über Kostenstellen und Fertigungslauf</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 2  -->

          <!-- begin: Block 3  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-6" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>schnelle Überprüfung auf Vollständigkeit bei gleichzeitiger Transparenz der in Papierform benötigen Dokumente</li>
            </ul>
          </div>
          <!-- end: item list -->
          <!-- end: Block 3 -->

          <!-- begin: Block 4 -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-7" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>schnelle Erkennung von nicht richtlinenkonformen Geräten, bevor ein Zugriff auf das Netzwerk stattfindet</li>
              <li>Sicherheit des Gesamtnetzwerkes wird erhöht</li>
            </ul>
            <p>Zuarbeit pco</p>
            <p>pco als etablierter Lieferant für AutoID-Hardware und hardwarenahe Dienstleistungen</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 4 -->
        </div>


      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
