<!-- Begin: Popups-->
<div id="popup-@@id" class="ce-popup">
  <div class="ce-popup__content">
    <!-- begin: main column of poxpup -->
    <div class="ce-popup__main add-bg add-bg--orange">
      <div class="ce-popup__header add-bg add-bg--black">
        <h1 class="ce-popup__title">Werkzeuge</h1>
        <h4 class="ce-popup__line">Ziel: Erhöhung der Anlageneffizienz</h4>
        <div class="ce-ratio-box ce-fullscreen">
          <figure class="ce-ratio-box__content">
            <picture>
              <img class="lazy-image object-fit" src="../assets/images/popup/produktion/lowQ/werkzeuge.jpg"
                data-src="../assets/images/popup/produktion/werkzeuge.jpg" alt="Werkzeuge" />
            </picture>
          </figure>
          <div class="ce-fullscreen add-overlay add-overlay--black"></div>
        </div>
      </div>
      <div class="ce-popup__body">
        <h2 class="ce-popup__headline">Herausforderungen</h2>
        <ul class="ce-popup__list">
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-1" target="_self">
              Transparenz über vorhandene Werkzeuge oder Geräte und deren aktuellen Stand- bzw. Lagerort
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-2" target="_self">
              Verfügbarkeit und Visualisierung von Anlagenparametern und Messwerten (KPI) in Echtzeit
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-3" target="_self">
              Vermeiden von Maschinenstillständen und Einführung vorausschauender Wartungskonzepte
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ce-popup__lvl-1" href="#popup-@@id-item-middle-4" target="_self">
              Energiekosten senken, Leistungsspitzen vermeiden und ökologisch nachhaltig arbeiten
              <svg class="icon">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: main content of popup -->

    <!-- begin: middle column of popup -->
    <div class="ce-popup__middle add-bg add-bg--grey">
      <div class="ce-popup__body">
        <!-- begin: item list-->
        <div id="popup-@@id-item-middle-1" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-1" target="_self">
                Kennzeichnung der Werkzeuge oder Geräte mittels RFID
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-2" target="_self">
                Automatisierte Erfassung der Werkzeuge oder Geräte an bestimmten Identifikationspunkten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-3" target="_self">
                Sicherer Remote-Zugriff auf Maschinen und Anlagen für Fernwartung und Reduzierung von Wartungszeiten
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-4" target="_self">
                Visualisieren von Assets und Inventory über eine individuelle Benutzeroberfläche
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-2" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-5" target="_self">
                Anbindung vorhandener Anlagendaten über eine konvergente Netzwerkinfrastruktur und Retrofitting bisher fehlender Sensoren
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-6" target="_self">
                Dateninterface und Datenvorverarbeitung am Endknoten der Netzinfrastruktur mit Edge Computing
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-7" target="_self">
                Visualisieren relevanter Informationen über eine individuelle Benutzeroberfläche
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-8" target="_self">
                Alarmierung bei Anomalieerkennung über ein zugrundeliegendes Regelwerk
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-3" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-9" target="_self">
                Analytisches Verknüpfen von vorhandenen und neuen Anlagendaten mit bestehenden Datenquellen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-10" target="_self">
                Ergänzen fehlender Zustände und Schadensindikatoren durch Retrofitting
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-11" target="_self">
                Frühzeitiges Erkennen von Anomalien, um bei drohenden Ausfällen, Wartung und Reparaturen korrekt zu planen
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-12" target="_self">
                Optimale Nutzung der verbleibenden Maschinenzeit unterstützt durch künstliche Intelligenz
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->

        <!-- begin: item list -->
        <div id="popup-@@id-item-middle-4" class="ce-popup__item-middle">
          <h2 class="ce-popup__headline">Lösungsansätze durch Digitalisierung</h2>
          <ul class="ce-popup__list">
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-13" target="_self">
                Verbrauchsspezifische Erfassung elektrischer Leistung für granulare Aussagen zum Nutzungsverhalten und zur benötigten Energie
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-14" target="_self">
                Individuelle Visualisierung, um Muster und Tendenzen zu erkennen und entsprechend zu agieren
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-15" target="_self">
                Unterstützung mit geeigneter Sensorik und Analysetechnik für Energiemanagement
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="ce-popup__lvl-2" href="#popup-@@id-item-end-16" target="_self">
                Ermittlung von Effektivitätskennzahlen durch Einbindung in  die bestehende Systemlandschaft und die Unterstützung durch künstliche Intelligenz
                <svg class="icon">
                  <use xlink:href="#icon-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- end: item list -->
      </div>
      <a class="ce-popup__back" href="#!" target="_self">
        <svg class="icon">
          <use xlink:href="#icon-slideout-arrow"></use>
        </svg>
      </a>
    </div>
    <!-- end: middle column of popup -->

    <!-- begin: end column of popup -->
    <div class="ce-popup__end add-bg add-bg--lightgrey">
      <div class="ce-popup__body">
        <div class="ce-scroll" data-simplebar>
          <!-- begin: Block 1  -->
          <!-- begin: item list 1 -->
          <div id="popup-@@id-item-end-1" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Reduzierung der Suchzeiten für Werkzeuge</li>
              <li>zeitnahe Berücksichtigung extern gelagerter Werkzeuge in der Fertigungsplanung</li>
              <li>Vermeidung von Fehltransporten</li>
              <li>Reduzierung der Maschinenstillstandszeiten durch Optimierung des Rüst-Prozesses</li>
              <li>Unterstützung von Wartungs- und Reparaturaufträgen durch fehlerfreie Erfassung</li>
            </ul>
            <a href="https://www.innovationalliance.de/rfid-gestuetztes-werkzeugmanagement/" target="_self">
              RFID-gestützte Werkzeugverfolgung
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list 1 -->
          <!-- begin: item list 2 -->
          <div id="popup-@@id-item-end-2" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Entlastung von Mitarbeitern in Logistik und Produktion von manuellen Tätigkeiten</li>
              <li>zeitnahe Berücksichtigung extern gelagerter Werkzeuge in der Fertigungsplanung</li>
              <li>Reduzierung der Suchzeiten für Werkzeuge</li>
              <li>Vermeidung von Fehltransporten</li>
              <li>Reduzierung der Maschinenstillstandszeiten durch Optimierung des Rüst-Prozesses</li>
              <li>Unterstützung von Wartungs- und Reparaturaufträgen durch fehlerfreie Erfassung</li>
            </ul>
            <a href="https://www.innovationalliance.de/rfid-gestuetztes-werkzeugmanagement/" target="_self">
              RFID-gestützte Werkzeugverfolgung
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit pco</p>
          </div>
          <!-- end: item list 2 -->
          <!-- begin: item list 3 -->
          <div id="popup-@@id-item-end-3" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <p>Vorhande Sensor- und Anlagendaten bzw. Retroit Sensoren über konvergente Netzinfrastruktur anbinden
            </p>
            <h2>Vorteile</h2>
            <ul>
              <li>sichere Erreichbarkeit der Anlagen und Verfügbarkeit aller Parameter vor Ort bzw. mobil durch performante Collaboration-Lösung</li>
              <li>flexiblere Reaktion auf wechselnde Fertigungsaufträge</li>
              <li>minimierte Anlagenstillstandszeiten</li>
              <li>schnelle Reaktions- und Handlungsfähigkeit bei Notsituationen an der Anlage</li>
              <li>vollständige administrative Kontrolle (On Premise) oder komplett gehosted (Managed Service)</li>
              <li>Zugriffskontrolle durch 2-Faktor-Authentifizierung</li>
              <li>klare Segmentierung des Netzwerks</li>
              <li>kein zusätzlicher Aufwand für die OT</li>
              <li>keine Kompromisse bei der Sicherheit durch hohe Sicherheitsstandards</li>
            </ul>
            <p>XevIT / Logicalis: Machinebuilder Secure VPN On Premise oder als Managed Service</p>
          </div>
          <!-- end: item list 3 -->
          <!-- begin: item list 4 -->
          <div id="popup-@@id-item-end-4" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Erhöhung der Bestandstransparenz</li>
              <li>einheitliche Dokumentation</li>
            </ul>
            <p>Asset & Inventory Management über ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list 4 -->
          <!-- end: Block 1  -->

          <!-- begin: Block 2  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-5" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Anbindung an bestehende Systeme</li>
              <li>höchste Flexibilität in der Architektur</li>
              <li>Datenhoheit: On Premise / Private Cloud / Public Cloud </li>
              <li>Transparenz der gesamten Betriebsdaten</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-6" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>sämtliche Bestandsanlagen können auch als Datenquelle für eine konvergente Digitalisierungslösung genutzt werden</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-7" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Transparenz der gesamten Betriebsdaten</li>
              <li>KPI zur Steuerung der Fertigungsprozesse in Echtzeit</li>
              <li>keine Datensilos</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-8" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Kostenreduktion durch optimale Ressourcennutzung und Automatisierung</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 2  -->

          <!-- begin: Block 3  -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-9" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Optimierung Prozessqualität</li>
              <li>Minimierung ungeplanter Standzeiten</li>
              <li>frühzeitige Anomalieerkennung</li>
              <li>flexible Alarmierung</li>
              <li>Ausfallprognosen</li>
              <li>Handlungsempfehlungen</li>
              <li>Fehlerdokumentation</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-10" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>rühzeitige Anomalieerkennung</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-11" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>weniger ungeplante Fertigungsausfälle </li>
              <li>optimierte Wartungsintervalle</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-12" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Optimierung Prozessqualität</li>
            </ul>
            <p>SWS Condition Monitoring ENTIRETEC-Service-Portal</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 3 -->

          <!-- begin: Block 4 -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-13" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Kostenreduktion </li>
              <li>Unterstützte Fertigungsplanung</li>
              <li>ökologische Nachhaltigkeit</li>
            </ul>
            <a href="https://www.innovationalliance.de/energiemanagement/" target="_self">
              Energiemanagement
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit SWS</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-14" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Transparenz</li>
              <li>Informationen zur Gesamtanlageneffizienz</li>
            </ul>
            <p>Zuarbeit SWS</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-15" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>kontinuierliche Verbesserung der energiebezogenen Leistung</li>
              <li>reduzierte Energiekosten</li>
              <li>zusätzliche staatliche Förderungen</li>
            </ul>
            <a href="https://www.innovationalliance.de/energiemanagement/" target="_self">
              Energiemanagement
              <svg class="icon icon--small">
                <use xlink:href="#icon-chevron-right"></use>
              </svg>
            </a>
            <p>Zuarbeit SWS</p>
          </div>
          <!-- end: item list -->
          <!-- begin: item list -->
          <div id="popup-@@id-item-end-16" class="ce-popup__item-end">
            <h2>Vorteile</h2>
            <ul>
              <li>Transparenz</li>
              <li>Informationen zur Gesamtanlageneffizienz</li>
            </ul>
            <p>Zuarbeit SWS</p>
          </div>
          <!-- end: item list -->
          <!-- end: Block 4 -->
        </div>


      </div>
    </div>
    <!-- end: end column of popup -->

  </div>
  <a class="ce-popup__close" href="#!" target="_self">
    <svg class="icon icon--medium">
      <use xlink:href="#icon-close"></use>
    </svg>
    Close
  </a>
</div>
<!-- End: Popups-->
