<!-- Footer -->
<footer class="page-footer  hide-for-small-only show-for-landscape">
  <!-- Begin: Info Link  -->
  <a class="page-footer__link @@classlink" data-aos="@@aosfooter" data-aos-delay="0" data-aos-mirror="true" href="#!">
    <svg class="icon">
      <use xlink:href="#icon-info"></use>
    </svg>
    <span class="page-footer__text hidden">hide information</span>
    <span class="page-footer__text visible">show information </span>
  </a>
  <!-- End: Info Link  -->
</footer>
<!-- END: Footer -->
