<!-- Header and navigation -->
<header class="page-header">

  <!-- Begin: Innova Link  -->
  <a class="page-header__link @@classlogo" data-aos="@@aoslogo" data-aos-delay="0" href="https://www.innovationalliance.de/">
    <!-- Begin: Logo  -->
    <img class="page-header__logo" src="@@srclogo">
    <!-- End: Logo  -->
  </a>
  <!-- End: Innova Link  -->
  <!-- Begin: header main menu -->
  <ul class="page-header__menu hide-for-small-only">
    <li>
      <!-- Begin: Section Link  -->
      <a class="page-header__link @@classstart" data-aos="@@aosstart" data-aos-delay="200" href="home.html">
        <span>Start</span>
      </a>
      <!-- End: Section Link  -->
    </li>
    <li>
      <!-- Begin: Section Link  -->
      <a class="page-header__link @@classproduktion" data-aos="@@aosproduktion" data-aos-delay="400" href="produktion.html">
        <span>Produktion</span>
      </a>
      <!-- End: Section Link  -->
    </li>
    <li>
      <!-- Begin: Section Link  -->
      <a class="page-header__link @@classverwaltung" data-aos="@@aosverwaltung" data-aos-delay="600" href="verwaltung.html">
        <span>Verwaltung</span>
      </a>
      <!-- End: Section Link  -->
    </li>
    <li>
      <!-- Begin: Section Link  -->
      <a class="page-header__link @@classclose" data-aos="@@aosclose" data-aos-delay="800" href="https://www.innovationalliance.de/events/">
        <span>Schließen</span>
        <svg class="icon icon--medium">
          <use xlink:href="#icon-close"></use>
        </svg>
      </a>
      <!-- End: Section Link  -->
    </li>
  </ul>
  <!-- End: header main menu -->
</header>
<!-- END: Header and navigation -->
