<!-- Begin Message for not support resolution -->
<div class="ce-no-support show-for-portrait show-for-small-only">
  <div class="ce-no-support__content">
    <svg class="icon">
      <use xlink:href="#icon-alert-innova"></use>
    </svg>
    <h2>Resolution no support</h2>
    <h4>The application can only be used with a resolution above 1024px and just in landscape mode</h4>
  </div>
  <img class="lazy-image object-fit" src="../assets/images/innova-alert-bg_lowQ.jpg"
          data-src="../assets/images/innova-alert-bg.jpg" alt="alert" />
</div>
<!-- End Message for not support resolution -->
