 <!-- Begin: Sprite minifyen -->
 <?xml version="1.0" encoding="utf-8"?>
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-alert-innova" viewBox="0 0 132 132"><g fill="none" fill-rule="evenodd"><path d="M.375 66c0 36.244 29.381 65.625 65.625 65.625S131.625 102.244 131.625 66 102.244.375 66 .375.375 29.756.375 66z" fill="#292E30"/><g stroke="#FFA005" stroke-linecap="round" stroke-width="8.75"><path d="M66 96.125a2.187 2.187 0 100 4.375 2.187 2.187 0 000-4.375h0" stroke-linejoin="round"/><path d="M66 78.625V30.5"/></g></g>
    </symbol>
    <symbol id="icon-chevron-left" viewBox="0 0 100 100"><path d="M70.4 2.4L26.2 46.8c-.9.9-1.3 2.1-1.3 3.3 0 1.2.5 2.4 1.3 3.3l44.2 44.2c1.1 1.1 2.8 1.1 3.9 0 .5-.5.8-1.2.8-1.9s-.3-1.4-.8-1.9L30.7 50.1 74.3 6.3c1.1-1.1 1.1-2.8 0-3.9s-2.8-1.1-3.9 0z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-chevron-right" viewBox="0 0 100 100"><path d="M29.6 97.6l44.2-44.4c.9-.9 1.3-2.1 1.3-3.3 0-1.2-.5-2.4-1.3-3.3L29.6 2.4c-1.1-1.1-2.8-1.1-3.9 0-.5.5-.8 1.2-.8 1.9s.3 1.4.8 1.9l43.6 43.6-43.6 43.9c-1.1 1.1-1.1 2.8 0 3.9s2.8 1.1 3.9 0z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="currentColor"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol id="icon-info" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-plus-circle" viewBox="0 0 40 40"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M1.667 20a18.333 18.333 0 1036.666 0 18.333 18.333 0 10-36.666 0zM20 10v20M30 20H10" stroke-width="1.66667"/></g>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 40 40"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M19.2 1.6v35.2M36.8 19.2H1.6" stroke-width="1.6"/></g>
    </symbol>
    <symbol id="icon-slideout-arrow" viewBox="0 0 84 830"><path fill="currentColor" d="M0 0h27l57 434-57 396H0z" fill-rule="evenodd"/>
    </symbol>
  </svg>
<!-- End: Sprite minifyen -->
