//
// add style for some animations for popups
//
$duration-open-popup: .5s;
$delay-open-popup: .3s;
$timing-function: cubic-bezier(.27, .86, .38, .96);
$duration-close-popup: .3s;
$delay-close-popup: .2s;

// open and close popup

.ce-popup__content {
  opacity: 0;
  transform: scale3d(.5, .5, 1);
  transform-style: preserve-3d;
  will-change: transform;
}

.ce-popup__close {
  opacity: 0;
  transform: scale3d(.8, .8, 1);
  transform-style: preserve-3d;
  will-change: transform;
}

.ce-popup {
  transform-style: preserve-3d;
  will-change: transform;

  &:target {
    animation: $duration-open-popup openPopupBg $timing-function 0s 1 forwards;
    .ce-popup__content {
      animation: $duration-open-popup openBoxPopup $timing-function $delay-open-popup 1 forwards;
    }
    .ce-popup__close {
      animation: $duration-open-popup openBoxPopupBTN $timing-function .7s 1 forwards;
    }
  }

  &.closing {
    animation: $duration-close-popup closePopupBg $timing-function 0s 1 forwards;
    .ce-popup__content {
      animation: $duration-close-popup closeBoxPopup $timing-function 0s 1 forwards;
    }
    .ce-popup__close {
      animation: $duration-close-popup closeBoxPopupBTN $timing-function 0s 1 forwards;
    }
  }
}

// open and close each columns
$level-1-duration: .7s;
$level-1-delay: .25s;

$level-2-duration: .7s;
$level-2-delay: .25s;

.ce-popup__main,
.ce-popup__middle,
.ce-popup__end {
  transform-style: preserve-3d;
  will-change: transform;
}

.ce-popup__main {
  transform: translate(100%, 0);
  transition: $level-1-duration transform $timing-function 0s;
  .active-lvl-1 & {
    transform: translate(40%, 0);
  }
}

.ce-popup__middle {
  transform: translate(0%, 0%);
  overflow: visible;
  transition: $level-1-duration transform $timing-function;
  .active-lvl-1 & {
    transform: translate(40%, 0);
  }
  .active-lvl-1.active-lvl-2 & {
    transform: translate(-60%, 0);
  }
}

.ce-popup__end {

  transform: translate(-100%, 0%);
  overflow: hidden;
  transition: $level-1-duration transform $timing-function;

  .ce-popup__body {
    opacity: 0;
    transform: translate(-10%, 0);
    transition: $level-2-duration all $timing-function;
  }

  .active-lvl-1 & {
    transform: translate(-40%, 0%);
  }

  .active-lvl-1.active-lvl-2 & {
    transform: translate(-60%, 0);
    .ce-popup__body {
      opacity: 1;
      transform: translate(0%, 0);
    }
  }

}

.ce-popup__back {
  transform: translate(0, 0);
  transition: $level-1-duration transform $timing-function $level-1-delay/2;

  .active-lvl-1 & {
    transform: translate(66px, 0%);
  }
}
