@keyframes openBoxPopup {
  from {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes closeBoxPopup {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}

@keyframes openBoxPopupBTN {
  from {
    opacity: 0;
    transform: scale3d(.8, .8, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes closeBoxPopupBTN {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(.8, .8, 1);
  }
}

@keyframes openPopupBg {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: rgba(255, 255, 255, .7);
  }
}

@keyframes closePopupBg {
  from {
    background: rgba(255, 255, 255, .7);
  }

  to {
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
