//
// Mixins which might be of good help
//

// Vertical and / or horizontal centering for position absolute elements
@mixin centerer($horizontal: true, $vertical: true) {

  $vertical-middle: 47.5%; // in most cases, a bit above the geometrical middle looks nicer

  position: absolute;
  z-index: $ce-zindex-pos-absolute;

  @if ($horizontal and $vertical) {
    top: $vertical-middle;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  }
  @else if ($vertical) {
    top: $vertical-middle;
    transform: translate(0, -50%);
  }

}

// ----------------------------------------------------------------------
// Transitions
// ----------------------------------------------------------------------
// example: @include std-transition(.5s);

@mixin std-transition($duration) {

  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  transition: $duration;

}

// example: @include single-transition(background, 1s, ease-in-out);

@mixin single-transition($property, $duration, $timing-function) {

  -webkit-transition: $property $duration $timing-function;
  -moz-transition: $property $duration $timing-function;
  -o-transition: $property $duration $timing-function;
  transition: $property $duration $timing-function;

}

// example: @include double-transition(background, 1s, ease-in-out, 0, opacity, .1s, ease-in-out, 0);

@mixin double-transition($property1, $duration1, $timing-function1, $delay1, $property2, $duration2, $timing-function2, $delay2) {

  -webkit-transition: $property1 $duration1 $timing-function1 $delay1, $property2 $duration2 $timing-function2 $delay2;
  -moz-transition: $property1 $duration1 $timing-function1 $delay1, $property2 $duration2 $timing-function2 $delay2;
  -o-transition: $property1 $duration1 $timing-function1 $delay1, $property2 $duration2 $timing-function2 $delay2;
  transition: $property1 $duration1 $timing-function1 $delay1, $property2 $duration2 $timing-function2 $delay2;

}
