// -----------------------------------------------------------------------------
// This file contains all @font-face declarations for the default CSS
// -----------------------------------------------------------------------------

// Original The Sans font-weight values
// 200 => ExtraLight
// 300 => Light
// 400 => SemiLight
// 500 => Plain
// 600 => SemiBold
// 700 => Bold
// 800 => ExtraBold
// 900 => Black


/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
}
