//
// some helper classes to add to any element to add a certain style (eg. special backgrounds)
//

// style for a full screen element
.ce-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.add-bg {
  background: $white;
  color: $black;

  &.add-bg--orange {
    background: $color-orange;
    color: $white;
  }

  &.add-bg--black {
    background: $black;
    color: $white;
  }

  &.add-bg--grey {
    background: $color-darkgrau;
    color: $white;
  }

  &.add-bg--lightgrey {
    background: $color-lightgrau;
    color: $black;
  }
}

// style for some overlay background
.add-overlay {
  background: rgba(255, 255, 255, .7);
  z-index: 0;

  &.add-overlay--black {
    background: rgba(0, 0, 0, .7);
  }

  &.add-overlay--darkviolet {
    background: rgba(121, 58, 121, .52);
  }

  &.add-overlay--blue {
    background: rgba(1, 32, 58, .9);
  }
}

// adding option to object-fit anything (eg. <img>) inside ratio box
// TODO: check if this rather might be a global helper class
.object-fit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  object-fit: cover !important; // shall be default, other options could be added, if needed via modifier class
  // TODO: remove important again, once the reset and default values are streamlined (see above...)

  // img needs 100% width otherwise it won't fill the container if the image file is smaller than the container
  img {
    width: 100%;
  }
}
