//
// Styles for icons used on the website, they are included as inline svg sprite code and / or external svg sprite file
//

.icon {

  /* Lets the icon inherit the text color. */
  fill: currentColor;

  /* Inherit the text’s size too. Also allows sizing
       the icon by changing its font-size. */
  width: 1em;
  height: 1em;

  /* Nice visual alignment for icons alongside text.
       (I got a few questions about this and: with most
       fonts and styles, this works better than just
       vertical-align:middle. Try it and see what you
       like best. */
  vertical-align: -.15em;

  &.icon--medium {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon--large {
    width: 2.5rem;
    height: 2.5rem;
  }

  &.icon--xlarge {
    width: 3.75rem;
    height: 3.75rem;
  }

  &.icon--xxlarge {
    width: 4.5rem;
    height: 4.5rem;
  }

}

.icon-triangle,
.icon-square,
.icon-play {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// style a icon play via css
$size-play: 70px;

.icon-play {
  display: block;
  position: relative;
  margin: 1rem auto .5rem;

  width: $size-play;
  height: $size-play;
  border-radius: $size-play/2;
  background-color: $color-darkgrau;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: $transition;

  &:before {
    content: '';
    display: block;
    width: $size-play/2;
    height: $size-play/2;
    position: absolute;
    top: $size-play/4;
    left: $size-play/2.875;
    border-top: $size-play/4 solid transparent;
    border-bottom: $size-play/4 solid transparent;
    border-left: $size-play/2.875 solid $color-orange;
  }
}
